.div {
    /* flex-direction: center; */
    background-color: rgb(164, 174, 174);
    width: fit-content;
    padding: 0.4em;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 15rem;
}

.img {
    background: lightblue;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    width: 200px;
}

.palabras {
    color: black;
}