.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
}

.li {
    margin: 0 5px;
}

.button {
    background-color: #555;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}